/* appy to the entire website */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  margin-top: 2rem;
}
::-webkit-scrollbar-track {
  background: #f3f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: #dadada;
  border-radius: 12px;
  border: 3px solid #f1f1f1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* 
@media screen and (min-width: 850px) {
  .personal-info {
    flex-direction: column;
  }
  .content {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  .contentWrapper {
    width: 40%;
  }
} */
